# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.env
.venv
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# Pytest, coverage, and other test reports
.pytest_cache/
.coverage
coverage.xml

# Various IDEs
.vscode/
.idea/
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db
